<div class="room">
    <div *ngIf="!room?.name && AuthService.isAdmin">
        <button id="button-plus" type="button" class="btn btn-light" (click)="createRoom()">+</button>
    </div>

    <div *ngIf="room?.name" id="button" type="button" class="btn btn-light">
        <!-- <p>{{room | json}}</p> -->
        <div>{{room?.name}}</div>
    </div>

    <hr width="275px"
        align="left">

    <div *ngIf="room?.name && !room?.devices?.length && AuthService.isAdmin">
        <button id="button-plus" type="button" class="btn btn-light" (click)="createDevice(room?.id)">+</button>
    </div>

    <div *ngIf="room?.name && room?.devices">
        <ul>
            <li *ngFor="let device of room?.devices">
                <button id="button" type="button" class="btn btn-light">
                    <div>
                        {{device?.name}}
                    </div>
                    <div>
                        {{device?.type}}
                    </div>
                </button>
            </li>
            <li *ngIf="AuthService.isAdmin">
                <button id="button-plus" type="button" class="btn btn-light" (click)="createDevice(room?.id)">+</button>
            </li>
        </ul>

    </div>

    <div *ngIf="room?.name && AuthService.isAdmin">
        <hr width="275px"
            align="left">
    </div>
</div>



